
.hexagonQuestion {
    background-color: purple; 
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    color: white; 
    margin: 1%;
    font-size: 25px;
}

.hexagon {
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 25px;
    width: 00px;
    height: 30px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    position: relative;
    margin: 20px;
    background-color: purple;
    color: white;
}

.hexagon:before, .hexagon:after {
    background-color: purple;
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
}

.hexagon:before {
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    top: 3px;
    left: -13px;
}

.hexagon:after {
    border-right: 3px solid #000;
    border-top: 3px solid #000;
    top: 3px;
    right: -13px;
}

.unpicked, .finalAnswer, .wrongAnswer {
    margin-left: 2%;
    width: 70%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.finalAnswer, .finalAnswer:before, .finalAnswer:after {
    background-color: orange;
    color: black;
    /* animation-name: showFinalAnswer;
    animation-duration: 0.5s; */
}

/* @keyframes showFinalAnswer {
    from {background-color: purple;}
    to {background-color: orange; color: black}
} */

.wrongAnswer, .wrongAnswer:before, .wrongAnswer:after {
    background-color: red;
    color: black;
    /* animation-name: showWrongAnswer;
    animation-duration: 0.5s; */
}

/* @keyframes showWrongAnswer {
    from {background-color: orange;}
    to {background-color: red;}
} */

.answerRow{
    width: 500px;
}

.showBtn{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(79, 76, 247);
    text-decoration: none;
    font-size: 25px;
    border: 1px solid #431cd1;
    padding: 5px;
    font-weight: bolder;
    height: 50px;
    width: 180px;
    border-radius: 40px;
    cursor: pointer;
    margin: 0 auto;

}

.showBtn:hover {
    background-color: #ddd;
    color: black;
}




.allAnswers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.portfolioSection{
    display: flex;
    flex-direction: column;
}
.section{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width: 80vw;
    margin-left: 50px;
    
}

.portfolioSection img{
    margin-top: 60px;
}
.imgDiv{
    display: flex;
    justify-content: end;
    margin-left: 60px;

}
.portfolioSection h2{
    font-size: 40px;
    text-align: center;
}
.portfolioSection{
    text-align: left;
}
span{
    font-size: 25px;
}

.portfolioSection p {
    font-size: 30px;
    margin: 0 50px;
    font-weight: initial

}

.portfolioSection{
    background-color: rgb(244, 248, 248);
    box-shadow: 0px 0px 5px 5px rgb(206, 211, 210);
    padding-bottom: 20px;

}